<?xml version="1.0"?>
<launch>

  <!-- Load robot description from xacro file -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ar_conveyor_description)/urdf/motek_scene.urdf.xacro'" />
  <param name="robot_description_semantic" textfile="$(find ar_conveyor_description)/srdf/pathloader.srdf"/>

  <!-- Publish joint state as tf transforms -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="" />
        <param name="use_tf_static" value="false" />
  </node>

</launch>

