<launch>
        <!-- Arguments-->
        <arg name="sim" default="True"/>

        <!-- Load controller configuration -->
        <rosparam file="$(find sim2log_motek)/etc/controller_ur_modern.yaml" command="load"></rosparam>

        <!-- Spawn controllers -->
        <node name="running_controller_spawner" pkg="controller_manager" type="spawner"
                args="
                joint_state_controller
                joint_trajectory_controller
                " />

        <group if="$(arg sim)" >
                <include file="$(find sim2log_motek)/launch/include/robot_bringup_simulation.xml"/>
        </group>

        <group unless="$(arg sim)" >
                <include file="$(find sim2log_motek)/launch/include/robot_bringup.xml"/>
        </group>

</launch>


